<div class="alert alert-warning" style="text-align:center;background-color:#666">

	<h4 style="color:white;">Tempi Esecuzione</h4>
	<br/>
	{function="WebUI_Gauge::Design(Plugin_Resource::averageTime(),'dial',false,'#00FF00',true,100);"}
	
	<p style="color:white;font-size:11px;">Rapporto tra il numero dei task e il tempo medio impiegato</p>
	
</div>

<br/><br/>
<div class="alert alert-warning"  style="text-align:center;background-color:#666">

	<h4 style="color:white;">Consumo Memoria</h4><br/>
	{function="WebUI_Gauge::Design(Plugin_Resource::averageMemory(),'dial',false,'#FF9933',true,100);"}
	<p style="color:white;font-size:11px;">Rapporto tra memoria massima consumata e la media [indica quanti task prendono meno memoria]</p>
</div>