 <ul class="nav nav-tabs nav-stacked"">
      <li class="{function="Web_View::LinkInContext('process')"}">{function="Web_Application::ComposeLink(array('controller'=>'process','label'=>'Lista Processi'))"}</li>
      <li class="{function="Web_View::LinkInContext('process','tasks');"}">{function="Web_Application::ComposeLink(array('controller'=>'process','action'=>'tasks','label'=>'Lista Task'))"}</li>
      <li class="{function="Web_View::LinkInContext('process','test');"}">{function="Web_Application::ComposeLink(array('controller'=>'process','action'=>'test','label'=>'Test Processo'))"}</li>
      <li class="nav-header">Logs</li>
      <li class="{function="Web_View::LinkInContext('process','logs');"}">{function="Web_Application::ComposeLink(array('controller'=>'process','action'=>'logs','label'=>'Log Processi'))"}</li>
      <li class="{function="Web_View::LinkInContext('process','calls');"}">{function="Web_Application::ComposeLink(array('controller'=>'process','action'=>'calls','label'=>'Log Chiamate Processo'))"}</li>
    </ul>