<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{$title}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css#">
<link rel="stylesheet" href="app/library/font-awesome/css/font-awesome.min.css#">
{function="Web_Application::loadCssResource('../font-awesome/css/font-awesome.min')"}
{function="Web_Application::loadCssResource(Web_Application::$_theme . '.min')"}
<!-- Optional theme -->
{*<link rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.min.css#">*}

<script src="//code.jquery.com/jquery-1.11.0.min.js#"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js#"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js#"></script>

</head>
<body>
{include="fragment/_menu"}