<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WS - Business Proccess Management</title>
 {function="Web_Application::loadCssResource('bootstrap.min')"}
 {function="Web_Application::loadCssResource('bootstrap-responsive.min')"}
  
 {function="Web_Application::loadJsResource('jquery.min')"}
 {function="Web_Application::loadJsResource('bootstrap.min')"}
 {function="Web_Application::loadJsResource('jscaller')"}
  {function="Web_Application::loadJsResource('jquery.knob')"}
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"> {function="Web_Application::loadImageResource('database-process-icon','png')"} Web Process Manager</a>
    <ul class="nav">
      <li class="{function="Web_View::LinkInContext('home')"}"><a href="{function="Web_Application::createLink('index.php')"}">Home</a></li>
      <li class="{function="Web_View::LinkInContext('process')"}">{function="Web_Application::ComposeLink(array('controller'=>'process','label'=>'Process Manager'))"}</li>
      <li class="{function="Web_View::LinkInContext('task')"}">{function="Web_Application::ComposeLink(array('controller'=>'task','label'=>'Task Manager'))"}</li>
      <li class="{function="Web_View::LinkInContext('sysman')"}">{function="Web_Application::ComposeLink(array('controller'=>'sysman','label'=>'SysMAN'))"}</li>
    </ul>
    <ul class="nav pull-right">
                      <li><a href="#">{$context}</a></li>
                      {if condition="$user->_username == 'Guest'"}
                      	<li><a href="#">{function="ucfirst($user->_username)"}</a></li>
                      {else}
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{function="ucfirst($user->_username)"}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li>{function="Web_Application::ComposeLink(array('controller'=>'login','action'=>'logout','label'=>'Logout'))"}</li>
                          
                          <li class="divider"></li>
                          <li><a href="javascript:alert('Disabilitato')">Message Console</a></li>
                        </ul>
                      </li>
                      {/if}
                    </ul>
  </div>
</div>
<div class="container">
<div class="row">
	

