<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {$user->_username} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a data-link="account/account" href="#" class="ui-ajax"><i class="fa fa-gears" ></i>&nbsp;&nbsp;&nbsp;Account</a></li>
          <li><a data-link="account/message" href="#" class="ui-ajax"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;Message</a></li>
          <li><a data-link="account/ticket" href="#" class="ui-ajax"><i class="fa fa-ticket"></i>&nbsp;&nbsp;&nbsp;Ticket</a></li>
          <li class="divider"></li>
          <li><a href="index.php/login/logout"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Logout</a></li>
        </ul>
      </li>